    :root {
        font-size: 10px;
    }



    
    
    /* navbar section */
    #nav{
        padding: 1% 0;
    }
    .logo-img{
        width: 10rem;
    }
    .nav-link{
        font-size: 1.4rem;
    }
    .nav-item{
        margin: 1%;
    }
    
    /* about section */
    #about{
        background-color: #0e9ea2;
        font-family: 'Montserrat', sans-serif;
        padding: 7rem;
        padding-left: 0;
        padding-right: 0;
        text-align: center;
    }
    #about-info{
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: space-between;
    }
    .heading{
        margin-bottom: 20px;
        font-size: 2.3rem;
        color: white;
    }
    .device{
        font-size: 1.5rem;
        text-align: center;
        margin: auto;
    }
    i{
        margin: 30px 0 20px;
    }

    /* Skill section */
    #skill,.jumbotron{
        background-color: white;
        text-align: center;
        font-family: 'Ubuntu', sans-serif; 
    }

    .skill-heading{
        font-size: 2.5rem;
        margin: 30px auto 15px;
        font-weight: bold;
    }
    .skill-text{
        font-size: 2rem;
        margin-bottom: 15px;
        width: 80%;
        margin: auto;
    }

    /* Project */

    #project{
        background-color: #add2c9;
        padding: 5rem;
        text-align: center;
        align-items: center;

    }

    .cards-group{
        display: flex;
        padding: 2rem;
        justify-content: center;
        align-items: center;
        font-family: 'Ubuntu', sans-serif;
    }

    .card{
        width: 40rem;
    }

    .card-btn{
        font-size: 2rem;
    }
    .card-text{
        font-size: 1.5rem;
    }
















    /* media queries */

@media (min-width: 1320px) { 
    :root{
        font-size: 20px;
    }
}

@media (min-width: 1000px) { 
    :root{
        font-size: 15px;
    }

}

@media (min-width: 500px) { 
    :root{
        font-size: 12px;
    }

}

@media (max-width: 500px) { 
    :root{
        font-size: 10px;
    }
    .skill-text{
        width: 100%;
    }

}
